html,body,#app {
  height: 100%;
}

html {
  font-size: 62.5%;
  font-family:  "Microsoft YaHei";
}
body {
  background: url('../images/bg.png') repeat;
}

img { 
  width: auto;
  max-width: 100%; 
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding-top:  5px;
}
